body,html {
    height: 100%;
    margin:0;
    padding:0;
    font-family: arial;
}


.home-p p {
    font-size: 12px;
    letter-spacing: 8px;
}
.home-p .hi {
    letter-spacing: 0px;
    font-size:11px;
    font-weight: 550;
}
.home-p h4{
    font-weight: 600;
    font-size:38px;
    font-family: 'Great Vibes', cursive;
   

}
.home-p h4{
    color:#111;
    position: relative;
    display: inline-block;
    
}
.home-p h4::after{
    content: '';
    height: 2px;
    width:60%;
    position: absolute;
    left:30%;
    bottom:0;
    background:linear-gradient(rgb(185, 9, 147),   rgb(221, 10, 175));
}

#div-images {
    background-image: url('https://scontent.fdac40-1.fna.fbcdn.net/v/t1.6435-9/188446863_1365053180531125_6030673384734017343_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=8bfeb9&_nc_eui2=AeHKvzo82pipCW30YaefzRR24q8dlA-xY-Hirx2UD7Fj4e0ezb1_QcwqUl0gGBcfAZpxgNoFBxk0ilikNRj0Xmaq&_nc_ohc=E0Zzs81IO9sAX8x8VTo&_nc_ht=scontent.fdac40-1.fna&oh=813d6434823ded2b09789381f2d7d6b0&oe=60D6A483');
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 400px;
    
}
.banner-text {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    width: 20% 50%;
    padding: 40px 0;
    text-align: center;
    color: rgb(112, 55, 55);
    font-weight: bold;
    overflow: hidden;
    
}
.banner-text h3{
  font-weight: 600;
  letter-spacing: 0px;
  font-size: 30px;

}
.banner-text p {
    padding: 8px 0px;
    font-family: merienda;
    font-weight: 550;
    color:rgb(128, 16, 16)
  
}
.btx {
    padding: 8px 21px;
    border-radius: 0px;
    font-size: 13px;
    background:linear-gradient(#111 , rgb(112, 55, 55));
    border: 1px solid black;
    color:rgba(255, 255, 255, 0.705);
}
.btx:hover {
    background: linear-gradient(rgb(236, 0, 98),     rgb(219, 9, 202));
    border: 1px solid white;
    color:#111;
}
@media screen and (max-width:991px) {
   
    .banner-text {
    
        position:relative;
          width:100%;
    }
    .banner-text h3 {
        margin-bottom: 50px;
      
    }
    .banner-text p{
       padding: 0px 70px;
    }
    .btx {
        margin-bottom: 50px;
    }
     
}