.about-color{
  background-color: rgba(255, 255, 255, 0);
}
#section_second_id{



    padding-bottom: 50px;
    padding-top:50px;
    box-sizing: border-box;
    
  }
  #section_second_id p{
  
  
    font-size: 14px;
    
    
  }
  .col{
  
  
    box-sizing: border-box;
  }
  
  #progress-id{
  
  
    box-sizing: border-box;
    justify-content: center;
     
  
  
  }
  .progress-contain h5{
    opacity: 0.8;
  }
  .progress{
  
  
    border-radius:0%;
    width: 340px;
    height: 20px;
    box-sizing: border-box;
    
    
  }
  .progress-contain h5{
  
  
    font-size: 12px;
  }
  
  .progress-bar{
    background-color: blue;
   
   
    
  }
  #progress-box{
    justify-content: center;
  }
  .para-line{
    width:700px;
  }
  .test {
    width: 670px;
  }
  @media screen and (max-width: 768px) {
    .test {
        overflow: hidden;
        width: 100%;
    }
    .progress-contain{
      position: relative;
      right: 16%;
    }
  }