.head-title{
    margin: 30px 0px;
}
.service-section{
    background-color:#efefef;
    overflow: hidden;
}
.card-body{


    background-color: #efefef;
    color:rgb(85, 22, 85);
   
}
#service-id .card{


    height:200px;
    font-size: 14px;
    border:0px;
}
.fa-color{

    color:#c57ec2;
}
